<nav class="navbar">
  <div class="logo">
    <span>🧺 Pressing LIC</span>
  </div>

  <div class="liens">
    <a routerLink="/">Catalogue</a>

    @if (auth.isLoggedIn()) {
      @if (auth.currentUser()?.role === 'client') {
        <a routerLink="/commander">Commander</a>
        <a routerLink="/mes-commandes">Mes commandes</a>
      }

      @if (auth.currentUser()?.role === 'gestionnaire') {
        <a routerLink="/tableau-bord">Tableau de bord</a>
        <a routerLink="/gestion">Gestion des tickets</a>
      }
    }
  </div>

  <div class="compte">
    @if (auth.isLoggedIn()) {
      <span class="nom-utilisateur">{{ auth.currentUser()?.name }}</span>
      <button (click)="seDeconnecter()">Déconnexion</button>
    } @else {
      <a routerLink="/login" class="btn-connexion">Connexion</a>
    }
  </div>
</nav>
